/* Manoj M Wagle */
/* 9 Apr 2023 */


@media (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 40px 10px;
    }

    nav {
        padding: 0 20px;
    }

    nav ul li {
        margin-left: 15px;
    }

    .about-content {
        flex-wrap: wrap;
    }

    .left-section {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .right-section {
        max-width: 100%;
    }

    #education .timeline-item,
    #education .timeline-item:nth-child(even) {
        width: 100%;
        margin-left: 0;
    }

    #education .timeline::before {
        left: 20px;
    }

    #education .timeline-item::before {
        left: 20px;
    }

    #experience .item {
        flex-wrap: wrap;
    }

    #experience .item-side {
        margin: 0 20px 28px 0;
    }
}


html {
  min-height: 100%;
  position: relative;
}

body {
    background-color: #fff;
    font-family: 'Roboto', Arial, sans-serif;
    margin-bottom: 60px; /* Height of the footer */
}

h1 {
    color: #333;
    text-align: center;
    font-size: 36px;
    margin-top: 35px;
}

.container {
    max-width: 70%;
    margin: 0 auto;
    padding: 40px 25px;
    /* Decreased left and right padding */
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col {
    flex: 1;
    padding: 0 15px;
}

/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 50px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #f44336;
}

/* Hero Section */
#hero {
    background-image: url('https://via.placeholder.com/1500x600');
    background-size: cover;
    background-position: center;
    height: 600px;
}

#hero h1 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
}

#hero p {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 50px;
    color: #fff;
}

/* About Section */
#about {
    background-color: #f7f7f7;
    padding: 100px 0;
}

#about h2 {
    font-size: 1.9rem;
}

.about-content {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 6%;
}

.left-section {
    flex: 0 0 30%;
    max-width: 30%;
}

.right-section {
    flex: 1;
    padding: 0 15px;
}

.left-section {
    flex-shrink: 0;
}

.img-container {
    margin-bottom: 20px;
    width: 100%;
}

.img-container img {
    max-width: 100%;
    width: 230px;  
    height: 230px;   
    object-fit: contain; 
    border-radius: 50%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.info-container {
    text-align: center;
}

.info-container h2,
.info-container h3,
.info-container h4 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #333;
    padding-left: 10%;
    padding-right: 10%;
}

.info-container h2 {
    margin-bottom: 20px;
}

.info-container h3 {
    font-size: 1.2rem;
    color: #808080;
    margin-bottom: 15px;
    white-space: nowrap;
    font-style: italic;
    max-width: 80%;
}

.info-container h4 {
    font-size: 1rem;
    color: #4a68aa;
    white-space: nowrap;
    max-width: 80%;
}

.social-links {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 0;
    padding-left: 0;
}

.social-links a {
    margin-right: 10px;
}

.social-links img {
    height: 24px;
    width: 24px;
    margin-right: 10px;
}

.bio-container {
    margin-top: 20px;
}

.bio-container p {
    font-size: 1.1rem;
    /* Increased font size */
    line-height: 1.7;
    /* Added line spacing */
}

.bio-container h2,
.bio-container h3,
.bio-container h4 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
}

.bio-container h2 {
    font-size: 2rem;
}

.bio-container h3 {
    font-size: 1.5rem;
}

.bio-container h4 {
    font-size: 1.3rem;
    line-height: 2;
}

.bio-container h4+ul {
    margin-top: 0;
    margin-bottom: 20px;
    list-style: disc;
    padding-left: 1.5rem;
}

.bio-container li {
    margin-bottom: 10px;
}

/* Hyperlink styling */
a {
    color: #1a73e8;
    /* Changed color to intense blue */
    text-decoration: none;
    /* Removed underline */
}

a:hover {
    text-decoration: underline;
    /* Added underline on hover */
}

/* Education Section */
#education {
    background-color: #fff;
    padding: 100px 0;
}

#education h2 {
    font-size: 1.9rem;
    margin-top: 0;
    margin-bottom: 50px;
    color: #333;
}

/* Education Section - Timeline */
.timeline {
    position: relative;
}

#education .timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #333;
}

#education .timeline-item {
    position: relative;
    width: 50%;
    padding: 20px 30px;
}

#education .timeline-item:nth-child(even) {
    margin-left: 50%;
}

#education .timeline-item::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 50%;
    width: 16px;
    height: 16px;
    background-color: #333;
    border-radius: 50%;
    z-index: 1;
}

#education .timeline-item .timeline-content {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#education .timeline-item .timeline-content h3 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 10px;
    color: #343434;
}

#education .timeline-item .timeline-content p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    color: #666;
}

#education .timeline-item .timeline-content a {
    color: #4a8af4;
    text-decoration: none;
}

#education .timeline-item .timeline-content a:hover {
    text-decoration: underline;
}

/* Experience Section */
#experience {
    background-color: #f7f7f7;
    padding: 100px 0;
}

#experience h2 {
    font-size: 1.9rem;
    margin-top: 0;
    margin-bottom: 50px;
    color: #333;
}

#experience .timeline {
    position: relative;
}

#experience .timeline .item {
    position: relative;
}

#experience .timeline-item::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: #333;
    border-radius: 50%;
    z-index: 1;
}

#experience .timeline .work-info {
    position: relative;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#experience .timeline .work-info h3 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
}

#experience .timeline .work-info .year {
    font-size: 1rem;
    position: absolute;
    top: 10px;
    right: 20px;
    color: darkgray;
}

#experience .timeline .work-info p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    color: #666;
}

#experience .timeline .work-info p:not(:first-child) {
    display: block;
}

#experience .timeline .work-description {
    position: relative;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#experience .timeline .work-description p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    color: #666;
    line-height: 1.5;
}

#experience .timeline .work-description ul li {
    color: #666;
}

/* New styles */
#experience .item {
    display: flex;
}

#experience .item-side {
    margin: 0 40px 28px 20px;
    position: relative;
}

#experience .item-main {
    margin-bottom: 40px;
    width: 100%
}

#experience .timeline .item.current .circle {
    border-color: Green;
}

#experience .timeline .item:last-child .line {
    display: none;
}

#experience .circle {
    width: 18px;
    height: 18px;
    border: 5px solid rgba(203, 203, 203, 1);
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 0;
}

#experience .line {
    position: absolute;
    background: #CBCBCB;
    width: 2px;
    top: 28px;
    left: 13px;
    height: 100%;
}


/* Awards Section */
#awards {
    padding: 100px 0;
}

#awards h2 {
    font-size: 1.9rem;
}

.awards-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.awards-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.award {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* box-shadow for a subtle 3D effect */
    transition: box-shadow 0.3s ease;
    /* Added transition for smooth box-shadow change */
}

.award:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    /* Increased box-shadow size on hover */
}

.award .year {
    color: #0056b3;
}

#show-more {
    background-color: #0056b3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}


/* Publications Section */
#publications {
    background-color: #f7f7f7;
    padding: 100px 0;
}

#publications h2 {
    font-size: 1.9rem;
}

.publications-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.publications-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
}

.publication {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.publication .pub-type {
    color: #888;
    font-size: 0.8rem;
    margin-left: auto;
    align-self: flex-end;
}

.publication>span {
    max-width: 87%;
    /* Limit the publication title width to 80% */
    display: inline-block;
    /* Allow the title to wrap */
    line-height: 1.6;
    font-size: 1rem;
    margin-bottom: 15px;
}

.publication-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    order: 1;
}

.publication-links a {
    display: inline-block;
    background-color: #4681f4;
    color: white;
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
}

.publication-links a.disabled {
    background-color: #ccc;
    color: #888;
    pointer-events: none;
}

#show-more-publications {
    background-color: #0056b3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-publication {
    width: 50%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#type-select {
    width: auto;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    margin-left: 15px;
}

.co-first-author {
    text-align: left;
    margin-top: 10px;
}

/* Contact Section */
#contact {
    background-color: #ffffff;
    padding: 100px 0;
}

#contact h2 {
    font-size: 1.9rem;
    margin-top: 0;
    margin-bottom: 50px;
    color: #333;
}

.contact-items {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.contact-item {
    padding: 20px;
}

.contact-icon {
    font-size: 2rem;
    color: #4caf50;
    margin-right: 20px;
}

.contact-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #4caf50;
}

.contact-info p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 0;
}


.social-links {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 50px auto 0;
}

.social-links a {
    color: inherit;
    text-decoration: none;
}

.social-links i {
    font-size: 24px;
}

footer {
  background-color: #f7f7f7; 
  color: #666;;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
